
<!--###############################################################  Spool EDIT Dialog: id="dialog_spool_edit -->
<div id="dialog_spool_edit" class="modal hide fade large modal-wide">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title" data-bind="text: spoolDialog.isExistingSpool() ? 'Edit Spool' : 'Add Spool'"></h3>
        <div class="row">
            <div class="myspan1">
                <span>
                    <!--                        <img class="inlineSVG" src="plugin/SpoolManager/static/images/spool_blue.svg" />-->
                    <svg enable-background="new 0 0 512 512" height="64px" width="64px" version="1.1" viewBox="0 0 512 512"  xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="svg-spool">
                            <rect fill="#282828" height="288" width="418" x="54" y="121"/>
                            <rect fill="#FFFFFF" height="113" width="5" x="54" y="216"/>
                            <rect fill="#FFFFFF" height="113" width="5" x="467" y="216"/>
                            <rect fill="#1E1E1E" height="494" width="31" x="64" y="18"/>
                            <rect fill="#1E1E1E" height="494" width="31" x="431" y="18"/>
                        </g>
                        <g id="svg-filament">
                            <rect fill="#0071BC" height="374" width="14" x="95" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="109" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="123" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="137" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="151" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="165" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="179" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="193" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="207" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="221" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="235" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="249" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="263" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="277" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="291" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="305" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="319" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="333" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="347" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="361" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="375" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="389" y="81"/>
                            <rect fill="#0071BC" height="374" width="14" x="403" y="81"/>
                            <rect fill="#0049BC" height="374" width="14" x="417" y="81"/>
                            <path d="M120,81C120,4.17,237.184-58,382-58" fill="none" stroke="#0071BC" stroke-miterlimit="10" stroke-width="9"/>
                        </g>
                    </svg>
                </span>
            </div>
            <div class="myspan8">
                <!-- "NEW" badge styled as a Bootstrap label: spool edit dialog UX improvement -->
                <!-- authored by @mdziekon, adopted via PR #44 (commit 642bea0). -->
                <h2>
                    <span
                        class="label label-info"
                        style="margin-right: 5px; font-size: inherit; line-height: inherit;"
                        data-bind="visible: spoolDialog.isExistingSpool() == false"
                    >
                        NEW
                    </span>
                    <span data-bind="text: spoolDialog.spoolItemForEditing.displayName"></span>
                </h2>
            </div>

<!-- Customize Field visiblity
            <div class="span1">


                <div id="configFields" class="btn-group" >
                  <a id="openConfigFields" class="btn dropdown-toggle" onclick="machwas()"   href="#">
                    Configure Fields
                    <span class="caret"></span>
                  </a>
                  <ul id="configFieldsDropDown" class="dropdown-menu pull-right">
                    <li>
                          <div class="container" style="max-width: 480px;">
                            <h3>TODO: needs to be implemented</h3>
                            <div class="row">
                                <div class="span1">&nbsp;</div>
                                <div class="span2">
                                    <label class="checkbox"><input type="checkbox"> Displayname</label>
                                </div>
                                <div class="span2">
                                    <label class="checkbox"><input type="checkbox"> Material</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span1">&nbsp;</div>
                                <div class="span2">
                                    <label class="checkbox"><input type="checkbox"> Displayname</label>
                                </div>
                                <div class="span2">
                                    <label class="checkbox"><input type="checkbox"> Material</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span1">&nbsp;</div>
                                <div class="span2">
                                    <label class="checkbox"><input type="checkbox"> Displayname</label>
                                </div>
                                <div class="span2">
                                    <label class="checkbox"><input type="checkbox"> Material</label>
                                </div>
                            </div>
                        </div>
                    </li>
                  </ul>
                </div>
            </div>
-->
            <div class="myspan3">
                <button type="button" class="btn btn-mini spm-simplemode-toggle" style="margin-bottom: 6px;"
                        data-bind="click: spoolDialog.toggleSimpleMode,
                                   css: {'btn-info': spoolDialog.simpleMode},
                                   attr: {title: spoolDialog.simpleMode() ? 'Simple view: only basic fields are shown. Click for the full view.' : 'Full view: all fields are shown. Click for the simple view.'}">
                    <i class="fas" data-bind="css: {'fa-toggle-on': spoolDialog.simpleMode, 'fa-toggle-off': !spoolDialog.simpleMode()}"></i>
                    <span data-bind="text: spoolDialog.simpleMode() ? 'Simple view' : 'Full view'">Full view</span>
                </button>
                <br/>
{#                <label class="checkbox">#}
{#                    <input type="checkbox" data-bind="checked: spoolDialog.spoolItemForEditing.isActive" > Active&nbsp;&nbsp;&nbsp;#}
{#                </label>#}
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: spoolDialog.spoolItemForEditing.isInActive" > Inactive&nbsp;&nbsp;&nbsp;
                </label>
                <label class="checkbox">
                        <input type="checkbox" data-bind="checked: spoolDialog.spoolItemForEditing.isTemplate" > Mark as template&nbsp;&nbsp;&nbsp;<br/>

{#                        <span data-bind="visible: spoolDialog.templateSpool != null && spoolDialog.templateSpool.hasNoData() == false">#}
{#                            <span data-bind="visible: spoolDialog.spoolItemForEditing.isTemplate() == false">#}
{#                                <span class="color-preview" data-bind="style: {'background-color': spoolDialog.templateSpool.color}" style="margin-bottom:-4px;"></span>#}
{#                                <span style="margin-bottom:30px" ><span data-bind="text: spoolDialog.templateSpool.material">PETG</span> - <span data-bind="text: spoolDialog.templateSpool.displayName">Gute Spule ich schau mal was laueft</span> </span>#}
{#                            </span>#}
{#                            <span data-bind="visible: spoolDialog.spoolItemForEditing.isTemplate">#}
{#                                <span class="color-preview" data-bind="style: {'background-color': spoolDialog.spoolItemForEditing.color}" style="margin-bottom:-4px;"></span>#}
{#                                <span style="margin-bottom:30px" ><span data-bind="text: spoolDialog.spoolItemForEditing.material">PETG</span> - <span data-bind="text: spoolDialog.spoolItemForEditing.displayName">Gute Spule ich schau mal was laueft</span> </span>#}
{#                            </span>#}
{#                        </span>#}
                </label>
            </div>
        </div>
    </div>

    <div class="modal-body hack-flowbreak"  >
        <form  class="form-horizontal" id="spool-form" >
            <input type="hidden" data-bind="value: spoolDialog.spoolItemForEditing.version" />
            <div class="row-fluid " >
<!-- LEFT COLUMN -->

                    <div class="span6" >
                        <div class="control-group" data-bind="css: {error: !spoolDialog.isDisplayNamePresent()}">
                            <label class="control-label">Displayname <sup>1</sup></label>
                            <div class="controls">
                                <div class="spm-template-combo">
                                    <input data-bind="textInput: spoolDialog.spoolItemForEditing.displayName,
                                                      event: { focus: spoolDialog.onDisplayNameFocus, blur: spoolDialog.onDisplayNameBlur }"
                                           type="text" class="input-large" autocomplete="off" />
                                    <span class="spm-template-combo-caret" title="Select a template"
                                          data-bind="visible: spoolDialog.isTemplateComboAvailable,
                                                     event: { mousedown: spoolDialog.toggleTemplateCombo }"><i class="fas fa-caret-down"></i></span>
                                    <ul class="spm-template-combo-list" data-bind="visible: spoolDialog.templateComboVisible">
                                        <!-- ko foreach: spoolDialog.filteredTemplateSpools -->
                                        <li data-bind="event: { mousedown: function(){ $parent.spoolDialog.selectTemplateFromCombo($data); return false; } }">
                                            <span class="color-preview" data-bind="style: {'background': spmSpoolColorCss(color)}"></span>
                                            <span data-bind="text: displayName"></span>
                                            <span class="spm-template-combo-meta"><span data-bind="text: material"></span> <span data-bind="text: vendor"></span></span>
                                        </li>
                                        <!-- /ko -->
                                        <li class="spm-template-combo-empty" data-bind="visible: spoolDialog.filteredTemplateSpools().length == 0">No matching template</li>
                                    </ul>
                                </div>
                                <span class="help-inline" style="cursor: help;"
                                      title="Template names can contain variables that are filled in when a spool is created from the template:
{material}, {color}, {vendor}, {diameter}, {weight}, {code}, {batch} and {id}.
{id} is replaced with the database id when the spool is saved.
Example: {material}-{color}-{id} becomes PETG-Silver-42."><i class="fas fa-info-circle"></i></span>
                                <span class="help-block" style="margin-bottom: 0;"
                                      data-bind="visible: spoolDialog.displayNamePreview().length > 0">
                                    Resulting name: <strong data-bind="text: spoolDialog.displayNamePreview"></strong>
                                </span>
                            </div>
                        </div>
                        <div class="control-group" data-bind="css: {error: !spoolDialog.isColorNamePresent()}">
                            <label class="control-label">Color <sup>1</sup></label>
                            <div class="row controls">
                                <input data-bind="textInput: spoolDialog.spoolItemForEditing.colorName"  type="text" class="input-small"  /><span class="color-preview" style="margin-bottom: -5px; cursor: default;" data-bind="style: {'background': spmSpoolColorCss(spoolDialog.spoolItemForEditing.color)}"></span>
                            </div>
                            <div class="row controls" style="margin-top: 4px;" data-bind="visible: !spoolDialog.spoolItemForEditing.isRainbow()">
                                {# Containers only - the color picker component renders itself into
                                   them (see common/colorPicker.js, wired up in SpoolItem). #}
                                <span id="filament-color-picker"></span>
                                <span data-bind="visible: spoolDialog.spoolItemForEditing.colorCount() >= 2">
                                    <span id="filament-color-picker2"></span>
                                </span>
                                <span data-bind="visible: spoolDialog.spoolItemForEditing.colorCount() >= 3">
                                    <span id="filament-color-picker3"></span>
                                </span>
                                <a href="#" class="btn btn-mini" title="Add a color (multi-color spool)"
                                   data-bind="click: spoolDialog.addColorClicked, visible: spoolDialog.spoolItemForEditing.colorCount() < 3"><i class="fas fa-plus"></i></a>
                                <a href="#" class="btn btn-mini" title="Remove last color"
                                   data-bind="click: spoolDialog.removeColorClicked, visible: spoolDialog.spoolItemForEditing.colorCount() > 1"><i class="fas fa-minus"></i></a>
                            </div>
                            {# "Rainbow" is a fixed rainbow gradient with no colors of its own, which
                               is why the pickers above are hidden while it is active. Multi-color
                               spools are made with the "+" button next to the pickers instead. #}
                            <div class="row controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: spoolDialog.spoolItemForEditing.isRainbow"> Rainbow (preset gradient)
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: spoolDialog.spoolItemForEditing.isTransparent"> Transparent / translucent
                                </label>
                                {# Same option the Add Spool Wizard offers. It used to be reachable
                                   only through pick-a-color's "translucent" swatch, which is gone
                                   along with the widget. #}
                                <label class="checkbox" style="margin-left: 20px;"
                                       data-bind="visible: spoolDialog.spoolItemForEditing.isTransparent">
                                    <input type="checkbox" data-bind="checked: spoolDialog.spoolItemForEditing.transparentUntinted"> completely colorless (no base color)
                                </label>
                                <span class="help-block" style="margin-bottom: 0;" data-bind="visible: spoolDialog.spoolItemForEditing.isRainbow">
                                    <small>Rainbow uses a fixed gradient. For your own multi-color spool, uncheck this and add colors with <i class="fas fa-plus"></i>.</small>
                                </span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Vendor</label>
                            <div class="controls">
                                {# Free text stays available; the grouped dropdown distinguishes local and
                                   SpoolmanDB suggestions without making group labels selectable. #}
                                <div class="input-append dropdown">
                                     <input id="spool-vendor-select" type="text" class="input-large"
                                         list="spool-vendor-list"
                                           autocomplete="off" placeholder="Choose or type..."
                                           data-bind="textInput: spoolDialog.spoolItemForEditing.vendor">
                                     <datalist id="spool-vendor-list" data-bind="foreach: spoolDialog.allVendors">
                                         <option data-bind="attr: { value: $data }"></option>
                                     </datalist>
                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                                            title="Choose vendor" aria-label="Choose vendor">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu spm-vendor-menu">
                                        <!-- ko if: spoolDialog.userVendors().length -->
                                        <li class="nav-header">Your vendors</li>
                                        <!-- ko foreach: spoolDialog.userVendors -->
                                        <li><a href="#" data-bind="text: $data, click: $root.spoolDialog.selectVendor"></a></li>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if: spoolDialog.spoolmanDbVendors().length -->
                                        <li class="divider"></li>
                                        <li class="nav-header">SpoolmanDB vendors</li>
                                        <!-- ko foreach: spoolDialog.spoolmanDbVendors -->
                                        <li><a href="#" data-bind="text: $data, click: $root.spoolDialog.selectVendor"></a></li>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="control-group no-bottom-gap">
                            <label class="control-label">Material</label>
                            <div class="controls">
                                <input id="spool-material-select" type="text" class="input-large" list="spool-material-list"
                                       autocomplete="off" placeholder="Choose or type..."
                                       data-bind="textInput: spoolDialog.spoolItemForEditing.material">
                                <datalist id="spool-material-list" data-bind="foreach: spoolDialog.allMaterials">
                                    <option data-bind="attr: { value: $data }"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="control-group no-bottom-gap" data-bind="visible: spoolDialog.spoolmanProducts().length || spoolDialog.spoolmanLoading()">
                            <label class="control-label">SpoolmanDB product</label>
                            <div class="controls">
                                <select class="input-large" data-bind="options: spoolDialog.spoolmanProducts,
                                                                        optionsText: 'name',
                                                                        value: spoolDialog.selectedSpoolmanProduct,
                                                                        optionsCaption: spoolDialog.spoolmanLoading() ? 'Loading...' : 'Choose...',
                                                                        enable: !spoolDialog.spoolmanLoading() && !spoolDialog.isU1RfidFlow()"></select>
                                <span class="help-block" data-bind="visible: spoolDialog.isU1RfidFlow"><small>Disabled - this spool is prefilled from its RFID tag, which knows the exact values for this physical spool. Picking a catalog product here would overwrite them with generic ones.</small></span>
                                <span class="help-block" data-bind="visible: !spoolDialog.isU1RfidFlow() && spoolDialog.selectedSpoolmanProduct() && spoolDialog.selectedSpoolmanProduct().ambiguous"><small>Multiple temperature variants exist; no temperature is prefilled.</small></span>
                            </div>
                        </div>
                        <div class="control-group no-bottom-gap">
                            <label class="control-label">Density <sup>2,3</sup></label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" step="0.001" min="0" class="input-small text-right" data-bind="value: spoolDialog.spoolItemForEditing.density,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'density', trackOnly: true}" />
                                    <span class="add-on">g/cm³</span>
                                </div>
                                <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('density') !== -1">Please enter a valid number</span>
                            </div>
                        </div>
                        <div class="control-group ">
                            <label class="control-label">Diameter <sup>2</sup></label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" step="0.001" min="0" class="input-mini text-right" data-bind="value: spoolDialog.spoolItemForEditing.diameter,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'diameter', trackOnly: true}" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="input-prepend input-append">
                                    <span class="add-on">±</span>
                                    <input type="number" step="0.001" min="0" class="input-mini text-right" data-bind="value: spoolDialog.spoolItemForEditing.diameterTolerance,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'diameterTolerance', trackOnly: true}" />
                                    <span class="add-on">mm</span>
                                </div>
                                <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('diameter') !== -1 || spoolDialog.invalidNumberFields().indexOf('diameterTolerance') !== -1">Please enter a valid number</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Finish</label>
                            <div class="controls">
                                <select class="input-medium" data-bind="options: spoolDialog.finishOptions,
                                                                        optionsText: 'text', optionsValue: 'value',
                                                                        optionsCaption: '',
                                                                        value: spoolDialog.spoolItemForEditing.finishSelection">
                                </select>
                                <input type="text" class="input-medium" placeholder="Custom finish"
                                       data-bind="visible: spoolDialog.spoolItemForEditing.finishSelection() === 'custom',
                                                  textInput: spoolDialog.spoolItemForEditing.finishCustomText" />
                            </div>
                        </div>
                        {# Preview-Label button, simple view only (full view: QR-code thumbnail is the link).
                           Idea from mdziekon#54 / dojohnso#59 (ScottGibb), reimplemented #}
                        <div class="control-group" style="margin-top: 12px;" data-bind="visible: spoolDialog.simpleMode() && spoolDialog.isExistingSpool() && pluginSettings.qrCodeEnabled()">
                            <label class="control-label">QR Label</label>
                            <div class="controls">
                                <a class="btn btn-small" target="_new"
                                   data-bind="attr: $root.generateQRCodeImageSourceAttribute(spoolDialog.spoolItemForEditing.databaseId(),
                                                                                             spoolDialog.spoolItemForEditing.displayName(),
                                                                                             'htmlView')">Preview Label</a>
                            </div>
                        </div>
                        <div class="control-group no-bottom-gap" data-bind="visible: !spoolDialog.simpleMode()">
                            <label class="control-label">Flow Rate Compensation<sup>4</sup></label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: spoolDialog.spoolItemForEditing.flowRateCompensation,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'flowRateCompensation', trackOnly: true}" />
                                    <span class="add-on">%</span>
                                </div>
                                <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('flowRateCompensation') !== -1">Please enter a valid number</span>
                            </div>
                        </div>

                        <div class="control-group no-bottom-gap" data-bind="visible: !spoolDialog.simpleMode()">
                            <label class="control-label">Tool/Bed<sup>4</sup></label>
                            <div class="row controls">
                                <div class="input-append">
                                    <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: spoolDialog.spoolItemForEditing.temperature,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'temperature', trackOnly: true}" />
                                    <span class="add-on">°C</span>
{#                                    </div>#}
{##}
{#                                    <span>&nbsp;Bed</span>#}
{#                                    <div class="input-append">#}
                                    <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: spoolDialog.spoolItemForEditing.bedTemperature,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'bedTemperature', trackOnly: true}" />
                                    <span class="add-on">°C</span>
                                </div>
                                <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('temperature') !== -1 || spoolDialog.invalidNumberFields().indexOf('bedTemperature') !== -1">Please enter a valid number</span>
                                <span class="help-inline">Effective: <span data-bind="text: spoolDialog.spoolItemForEditing.absoluteTemperature"></span> / <span data-bind="text: spoolDialog.spoolItemForEditing.absoluteBedTemperature"></span> °C</span>
                            </div>
                        </div>
                        <div class="control-group " data-bind="visible: !spoolDialog.simpleMode()">
                            <label class="control-label">Enclosure</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: spoolDialog.spoolItemForEditing.enclosureTemperature,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'enclosureTemperature', trackOnly: true}" />
                                    <span class="add-on">°C</span>
                                </div>
                                <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('enclosureTemperature') !== -1">Please enter a valid number</span>
                            </div>
                        </div>

                        <div class="control-group no-bottom-gap" data-bind="visible: !spoolDialog.simpleMode()">
                            <label class="control-label">Offset Tool/Bed<sup>5</sup></label>
                            <div class="row controls">
                                <div class="input-append">
                                    <input type="number" step="1" class="input-mini text-right" data-bind="value: spoolDialog.spoolItemForEditing.offsetTemperature,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'offsetTemperature', trackOnly: true}" />
                                    <span class="add-on">°C</span>
{#                                    </div>#}
{##}
{#                                    <span>&nbsp;Offset Bed<sup>5</sup></span>#}
{#                                    <div class="input-append">#}
                                    <input type="number" step="1" class="input-mini text-right" data-bind="value: spoolDialog.spoolItemForEditing.offsetBedTemperature,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'offsetBedTemperature', trackOnly: true}" />
                                    <span class="add-on">°C</span>
                                </div>
                                <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('offsetTemperature') !== -1 || spoolDialog.invalidNumberFields().indexOf('offsetBedTemperature') !== -1">Please enter a valid number</span>
                            </div>
                        </div>
                        <div class="control-group " data-bind="visible: !spoolDialog.simpleMode()">
                            <label class="control-label">Offset Enclosure<sup>5</sup></label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" step="1" class="input-mini text-right" data-bind="value: spoolDialog.spoolItemForEditing.offsetEnclosureTemperature,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'offsetEnclosureTemperature', trackOnly: true}" />
                                    <span class="add-on">°C</span>
                                </div>
                                <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('offsetEnclosureTemperature') !== -1">Please enter a valid number</span>
                            </div>
                        </div>

                        {# QR-CODE STUFF #}
                        <!-- ko if: spoolDialog.isExistingSpool() && pluginSettings.qrCodeEnabled() && !spoolDialog.simpleMode() -->
                        <div class="control-group" data-bind="visible: spoolDialog.isExistingSpool() && pluginSettings.qrCodeEnabled() && !spoolDialog.simpleMode()">
                            <div class="row-fluid">
                                <div class="span8">
                                    <label class="control-label">QR Code</label>
                                    <div class="controls">
                                        <div>
        <!--                                        <a data-bind="attr: {href: '{{ url_for("index") }}plugin/SpoolManager/generateQRCode/'+spoolDialog.spoolItemForEditing.databaseId()}" target="_new">-->
        <!--                                            <img loading="lazy" class="qr-code" alt="QR Code" data-bind="attr: {src: '{{ url_for("index") }}plugin/SpoolManager/generateQRCode/'+spoolDialog.spoolItemForEditing.databaseId() }">-->
        <!--                                        </a>-->
                                            <a data-bind="attr: $root.generateQRCodeImageSourceAttribute(spoolDialog.spoolItemForEditing.databaseId(),
                                                                                                         spoolDialog.spoolItemForEditing.displayName(),
                                                                                                         'htmlView')" target="_new">
                                                <img loading="lazy" class="qr-code" alt="QR Code" data-bind="attr: $root.generateQRCodeImageSourceAttribute(spoolDialog.spoolItemForEditing.databaseId(),
                                                                                                                                                            spoolDialog.spoolItemForEditing.displayName())">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <label>Database ID</label>
                                    <div>
                                        <input title="Used for QR-Code generation" data-bind="textInput: spoolDialog.spoolItemForEditing.databaseId"  type="text" class="input-mini text-right"  disabled="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="control-group" data-bind="visible: !spoolDialog.simpleMode()">
                            <!-- "Serialnumber" -> "Serial number" label fix by @mdziekon, adopted via PR #44 (commit 642bea0). -->
                            <label class="control-label">Serial number</label>
                            <div class="controls">
                                <input data-bind="textInput: spoolDialog.spoolItemForEditing.code"  type="text" class="input-large"  />
                            </div>
                        </div>
                        <div class="control-group" data-bind="visible: !spoolDialog.simpleMode() && spoolDialog.hasU1RfidUnknownTags()">
                            <label class="control-label">{{ _('Snapmaker U1') }}</label>
                            <div class="controls">
                                {# rfidTagKey (the stable per-spool match key, NOT the Serial number field
                                   above - see U1RfidManager.deriveRfidTagKey()'s PRELIMINARY collision
                                   note) is what the U1 actually resolves a spool by. Offering the last
                                   unknown UIDs avoids retyping them and keeps them reachable even after
                                   the notification was dismissed. #}
                                <span class="help-block" style="margin-bottom: 4px;">
                                    <small>{{ _('Unassigned RFID tags detected by the Snapmaker U1:') }}</small>
                                </span>
                                <!-- ko foreach: spoolDialog.u1RfidUnknownTags -->
                                <button type="button" class="btn btn-small" style="margin-right: 4px;"
                                        data-bind="click: function (entry) { $parent.spoolDialog.applyU1RfidUid(entry); }">
                                    <i class="fas fa-id-card"></i> <span data-bind="text: label"></span>
                                </button>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="control-group" data-bind="visible: !spoolDialog.simpleMode()">
                            <label class="control-label">Batchnumber</label>
                            <div class="controls">
                                <input title="Manufacturer batch/lot number, shared by spools of the same production batch" data-bind="textInput: spoolDialog.spoolItemForEditing.batchNumber"  type="text" class="input-large"  />
                            </div>
                        </div>

<!-- QR-Code scanner
                        <div class="control-group">
                            <label class="control-label">QR/Bar-Code</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input class="span2" type="text" class="input-large" data-bind="value: spoolDialog.spoolItemForEditing.code" />

                                        <button class="btn" type="button">Capture</button>
                                </div>
                           </div>
                        </div>
-->
                        <div class="control-group" style="margin-bottom: -20px;">
                            <label>
                                <div><sup>1</sup><small>Mandatory field</small></div>
                                <div><sup>2</sup><small>Needed for filament usage prediction</small></div>
                                <div><sup>3</sup><small>See <a href="https://icezaza2543.github.io/SpoolmanDB-Community/" target="newTab">https://icezaza2543.github.io/SpoolmanDB-Community/ (without warranty)</a></small></div>
                                <div data-bind="visible: !spoolDialog.simpleMode()"><sup>4</sup><small>Not send to the printer</small></div>
                                <div data-bind="visible: !spoolDialog.simpleMode()"><sup>5</sup><small>Temperature offset enabled via Plugin Settings -> temperature tab</small></div>
                             </label>
                        </div>

                    </div>
<!-- RIGHT COLUMN -->
                    <div class="span6" >
                        <div>
                            <div class="row" data-bind="visible: !spoolDialog.simpleMode()">
                                {# Separate date + time inputs: a single datetime-local input reports an empty #}
                                {# value until both parts are filled, silently losing date-only entries on save. #}
                                <div class="control-group  no-bottom-gap">
                                    <label class="control-label">Last use</label>
                                    <div class="controls" >
                                        <input type="date"
                                               title="Format e.g. 2022-01-12"
                                               placeholder="YYYY-MM-DD"
                                               data-bind="value: spoolDialog.spoolItemForEditing.lastUseDateKO" />
                                        <input type="time"
                                               title="Optional time, defaults to 00:00"
                                               placeholder="hh:mm"
                                               data-bind="value: spoolDialog.spoolItemForEditing.lastUseTimeKO" />
                                    </div>
                                </div>
                                <div class="control-group  no-bottom-gap">
                                    <label class="control-label">First use</label>
                                    <div class="controls" >
                                        <input id="my-firstuse" type="date"
                                               title="Format e.g. 2022-01-12"
                                               placeholder="YYYY-MM-DD"
                                               data-bind="value: spoolDialog.spoolItemForEditing.firstUseDateKO" />
                                        <input type="time"
                                               title="Optional time, defaults to 00:00"
                                               placeholder="hh:mm"
                                               data-bind="value: spoolDialog.spoolItemForEditing.firstUseTimeKO" />
                                    </div>
                                </div>
                                <div class="control-group  no-bottom-gap">
                                    <label class="control-label">Purchased on</label>
                                    <div class="controls" >
                                        <input type="date"
                                               title="Format e.g. 2022-01-12"
                                               placeholder="YYYY-MM-DD"
                                               pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                                               data-bind="value: spoolDialog.spoolItemForEditing.purchasedOnKO" />
                                    </div>
                                </div>
                                <div class="control-group no-bottom-gap">
                                    <label class="control-label">Purchased from</label>
                                    <div class="controls">
                                        <input type="text" class="input-xlarge text-left" data-bind="value: spoolDialog.spoolItemForEditing.purchasedFrom"/>
                                    </div>
                                </div>
                                <div class="control-group ">
                                    <label class="control-label">Cost</label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input type="number" step="0.01" min="0" class="input-small text-right" data-bind="value: spoolDialog.spoolItemForEditing.cost,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'cost', trackOnly: true}"/>
                                            <span class="add-on" data-bind="text: pluginSettings.currencySymbol" >€</span>
                                        </div>
                                        <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('cost') !== -1">Please enter a valid number</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Labels TODO FIXME
                            <div class="row">
                                <div class="span6 text-center">
                                    <select id="spool-labels-select" multiple="true" data-bind="options: spoolDialog.spoolItemForEditing.allLabels, selectedOptions: spoolDialog.spoolItemForEditing.labels">
                                    </select>
                                </div>
                            </div>
                            -->


                            <div class="custom-divider" data-bind="visible: !spoolDialog.simpleMode()"></div>
                            <div>
                                <div class="control-group no-bottom-gap" data-bind="visible: !spoolDialog.simpleMode()">
                                    <label for="driven-scope" class="control-label"><h5>Auto calculation for:</h5></label>
                                    <div class="controls">
                                        <select id="driven-scope" class="input-large"
                                                data-bind="options: spoolDialog.spoolItemForEditing.drivenScopeOptions,
                                                           value: spoolDialog.spoolItemForEditing.drivenScope,
                                                           optionsText: 'text',
                                                           optionsValue: 'value'">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div style="text-align: center;">
                                        <small class="text-info" >Auto calculation prevents editing.</small>
                                    </div>
                                </div>
                                <h5>Filament Amount <small>(Without Spool)</small></h5>
                                <p data-bind="visible: !spoolDialog.areDensityAndDiameterValid()"><small class="text-error">
                                    For automatic g to mm conversions, please enter <b>Density</b> and <b>Diameter</b>!
                                </small></p>
                                <div class="control-group no-bottom-gap" data-bind="visible: !spoolDialog.hideDetailedWeights()">
                                    <label for="total-weight" class="control-label">Initial <sup>2</sup></label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input id="total-weight" type="number" step="any" min="0"
                                                   class="input-mini text-right"
                                                   data-bind="value: spoolDialog.totalWeightDisplay,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'totalWeight', trackOnly: true},
                                                              disable: spoolDialog.spoolItemForEditing.drivenScope() === spoolDialog.scopeValues.FILAMENT"/>
                                            <span class="add-on" data-bind="text: spoolDialog.weightUnitText">g</span>
                                        </div>
                                         <div class="input-append">
                                            <input type="number" step="any" min="0" class="input-small text-right"
                                                   data-bind="value: spoolDialog.totalLengthDisplay,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'totalLength', trackOnly: true},
                                                              disable: spoolDialog.spoolItemForEditing.drivenScope() === spoolDialog.scopeValues.FILAMENT"/>
                                            <span class="add-on" data-bind="text: spoolDialog.lengthUnitText">mm</span>
                                        </div>
                                    </div>
                                    <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('totalWeight') !== -1 || spoolDialog.invalidNumberFields().indexOf('totalLength') !== -1">Please enter a valid number</span>
                                </div>
                                <div class="control-group no-bottom-gap" data-bind="visible: !spoolDialog.hideDetailedWeights()">
                                    <label for="usedWeight" class="control-label">Used <small
                                            data-bind="visible: !isNaN(spoolDialog.spoolItemForEditing.usedPercentage())">(<span
                                            data-bind="text: spoolDialog.spoolItemForEditing.usedPercentage"></span>%)</small></label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input id="usedWeight" type="number" step="any" min="0"
                                                   class="input-mini text-right"
                                                   data-bind="value: spoolDialog.usedWeightDisplay,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'usedWeight', trackOnly: true},
                                                              disable: spoolDialog.spoolItemForEditing.drivenScope() === spoolDialog.scopeValues.FILAMENT"/>
                                            <span class="add-on" data-bind="text: spoolDialog.weightUnitText">g</span>
                                        </div>
                                        <span class="input-append">
                                            <input type="number" step="any" min="0" class="input-small text-right"
                                                   data-bind="value: spoolDialog.usedLengthDisplay,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'usedLength', trackOnly: true},
                                                              disable: spoolDialog.spoolItemForEditing.drivenScope() === spoolDialog.scopeValues.FILAMENT"/>
                                            <span class="add-on" data-bind="text: spoolDialog.lengthUnitText">mm</span>
                                        </span>
                                    </div>
                                    <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('usedWeight') !== -1 || spoolDialog.invalidNumberFields().indexOf('usedLength') !== -1">Please enter a valid number</span>
                                </div>
                                <div class="control-group">
                                    <label for="remainingWeight" class="control-label">Remaining <small
                                            data-bind="visible: !isNaN(spoolDialog.spoolItemForEditing.remainingPercentage())">(<span
                                            data-bind="text: spoolDialog.spoolItemForEditing.remainingPercentage"></span>%)</small></label>
                                    <div class="controls">
                                        <span class="input-append">
                                            <input id="remainingWeight" type="number" step="any" min="0"
                                                   class="input-mini text-right"
                                                   disabled
                                                   data-bind="value: spoolDialog.remainingWeightDisplay,
                                                              disable: true"/>
                                            <span class="add-on" data-bind="text: spoolDialog.weightUnitText">g</span>
                                        </span>
                                        <span class="input-append">
                                            <input type="number" step="any" min="0" disabled
                                                   class="input-small text-right"
                                                   data-bind="value: spoolDialog.remainingLengthDisplay,
                                                              disable: true"/>
                                            <span class="add-on" data-bind="text: spoolDialog.lengthUnitText">mm</span>
                                        </span>

                                    </div>
                                </div>
                            </div>

                            <div data-bind="visible: !spoolDialog.hideDetailedWeights()">
                                <h5>Spool Weight <small>(Without Filament)</small></h5>
                                <div class="control-group no-bottom-gap">
                                    <label for="spool-weight" class="control-label">Empty Spool Weight</label>
                                    <div class="controls">
                                        <div class="input-append">
                                            <input id="spool-weight" type="number" step="any" min="0"
                                                   class="input-mini text-right"
                                                   data-bind="value: spoolDialog.spoolWeightDisplay,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'spoolWeight', trackOnly: true},
                                                              disable: spoolDialog.spoolItemForEditing.drivenScope() === spoolDialog.scopeValues.SPOOL"/>
                                            <span class="add-on" data-bind="text: spoolDialog.weightUnitText">g</span>
                                        </div>
                                    </div>
                                    <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('spoolWeight') !== -1">Please enter a valid number</span>
                                </div>
                            </div>

                            <div data-bind="visible: !spoolDialog.hideDetailedWeights()">
                                <h5>Combined Weight <small>(Spool + Filament)</small></h5>
                                <div class="control-group no-bottom-gap" data-bind="css: {error: !spoolDialog.isTotalCombinedWeightPresent()}">
                                    <label class="control-label">Initial total <sup>1</sup></label>
                                    <div class="controls">
                                        <span class="input-append">
                                            <input type="number" step="any" min="0" class="input-mini text-right"
                                                   data-bind="value: spoolDialog.totalCombinedWeightDisplay,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'totalCombinedWeight', trackOnly: true},
                                                              disable: spoolDialog.spoolItemForEditing.drivenScope() === spoolDialog.scopeValues.COMBINED"
                                            />
                                            <span class="add-on" data-bind="text: spoolDialog.weightUnitText">g</span>
                                        </span>
                                    </div>
                                    <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('totalCombinedWeight') !== -1">Please enter a valid number</span>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Remaining</label>
                                    <div class="controls">
                                        <span class="input-append">
                                            <input type="number" step="any" min="0" class="input-mini text-right"
                                                    data-bind="value: spoolDialog.remainingCombinedWeightDisplay,
                                                              numberField: {invalidFields: spoolDialog.invalidNumberFields, key: 'remainingCombinedWeight', trackOnly: true},
                                                              disable: spoolDialog.spoolItemForEditing.drivenScope() !== spoolDialog.scopeValues.FILAMENT"
                                            />
                                            <span class="add-on" data-bind="text: spoolDialog.weightUnitText">g</span>
                                        </span>
                                    </div>
                                    <span class="spm-number-invalid-hint" data-bind="visible: spoolDialog.invalidNumberFields().indexOf('remainingCombinedWeight') !== -1">Please enter a valid number</span>
                                </div>
                            </div>

                            {# OctoScale: weighing and NFC tag writing, available in both simple and
                               full view. Deliberately NOT wrapped in a .well - theme plugins
                               (e.g. Themeify) restyle that class and the panel ended up unreadable.
                               Plain rows with the dialog's own styling instead. #}
                            <div data-bind="visible: spoolDialog.isOctoScaleEnabled">
                                <h5>OctoScale</h5>
                                <div class="control-group">
                                    <label class="control-label">Weigh</label>
                                    <div class="controls">
                                        <button type="button" class="btn btn-small" data-bind="click: spoolDialog.toggleOctoScaleWeighing">
                                            <i class="fas" data-bind="css: spoolDialog.octoScaleWeighing.isActive() ? 'fa-stop' : 'fa-play'"></i>
                                            <span data-bind="text: spoolDialog.octoScaleWeighing.isActive() ? 'Stop' : 'Read weight'"></span>
                                        </button>
                                        <button type="button" class="btn btn-small"
                                                data-bind="click: spoolDialog.octoScaleWeighing.tare,
                                                           enable: spoolDialog.octoScaleWeighing.isActive() && !spoolDialog.octoScaleWeighing.isTaring()">Tare</button>
                                        <span style="margin-left: 10px; font-size: 15px;" data-bind="text: spoolDialog.octoScaleWeighing.currentWeightText"></span>
                                        {# Two buttons rather than one: a reading alone does not say whether the
                                           user is setting up a full spool or checking how much is left. #}
                                        <span class="help-block" style="margin-bottom: 2px; margin-top: 6px;">
                                            <small>Use the reading as:</small>
                                        </span>
                                        <button type="button" class="btn btn-small btn-primary"
                                                title="The spool is full - store this as its initial total weight"
                                                data-bind="click: spoolDialog.applyMeasuredAsTotalWeight,
                                                           enable: spoolDialog.octoScaleWeighing.hasReading">Total weight</button>
                                        <button type="button" class="btn btn-small btn-primary"
                                                title="The spool is partly used - work out how much filament is left"
                                                data-bind="click: spoolDialog.applyMeasuredAsRemainingWeight,
                                                           enable: spoolDialog.octoScaleWeighing.hasReading() && spoolDialog.canApplyAsRemaining()">Remaining weight</button>
                                        <span class="help-block" style="margin-bottom: 0;" data-bind="visible: spoolDialog.measuredRemainingPreview">
                                            <small data-bind="text: spoolDialog.measuredRemainingPreview"></small>
                                        </span>
                                        <span class="help-block" style="margin-bottom: 0;" data-bind="visible: spoolDialog.remainingBlockReason">
                                            <small data-bind="text: spoolDialog.remainingBlockReason"></small>
                                        </span>
                                        <span class="help-block text-error" style="margin-bottom: 0;" data-bind="visible: spoolDialog.octoScaleWeighing.errorMessage">
                                            <small><i class="fas fa-exclamation-triangle"></i> <span data-bind="text: spoolDialog.octoScaleWeighing.errorMessage"></span></small>
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">NFC tag</label>
                                    <div class="controls">
                                        <span class="help-block" style="margin-bottom: 0;" data-bind="visible: !spoolDialog.isExistingSpool()">
                                            <small>Save the spool first - the tag stores its database id.</small>
                                        </span>
                                        <span data-bind="visible: spoolDialog.isExistingSpool">
                                            <button type="button" class="btn btn-small"
                                                    data-bind="click: spoolDialog.startTagWriting, visible: !spoolDialog.octoScaleTagWriter.isActive()">
                                                <i class="fas fa-tag"></i> Write NFC tag
                                            </button>
                                            <span data-bind="visible: spoolDialog.octoScaleTagWriter.isActive">
                                                <button type="button" class="btn btn-small btn-primary"
                                                        data-bind="click: spoolDialog.octoScaleTagWriter.writeTag, enable: spoolDialog.octoScaleTagWriter.canWrite">
                                                    <i class="fas fa-spinner fa-spin" data-bind="visible: spoolDialog.octoScaleTagWriter.isWriting"></i>
                                                    Write tag
                                                </button>
                                                <button type="button" class="btn btn-small" data-bind="click: spoolDialog.stopTagWriting">Cancel</button>
                                                <span style="margin-left: 8px;" data-bind="visible: !spoolDialog.octoScaleTagWriter.tagPresent()">
                                                    <i class="fas fa-spinner fa-spin"></i> <small>Place a tag on the reader...</small>
                                                </span>
                                                <span style="margin-left: 8px;" data-bind="visible: spoolDialog.octoScaleTagWriter.tagPresent">
                                                    <i class="fas fa-check text-success"></i> <small>Tag detected</small>
                                                </span>
                                                <span class="help-block" style="margin-bottom: 0;"
                                                      data-bind="visible: spoolDialog.octoScaleTagWriter.needsOverwriteConfirmation() && !spoolDialog.octoScaleTagWriter.overwriteConfirmed()">
                                                    <small class="text-warning" data-bind="text: spoolDialog.octoScaleTagWriter.overwriteWarningText"></small>
                                                    <button type="button" class="btn btn-mini btn-warning" style="margin-left: 6px;"
                                                            data-bind="click: spoolDialog.octoScaleTagWriter.confirmOverwrite">Overwrite anyway</button>
                                                </span>
                                                <span class="help-block text-success" style="margin-bottom: 0;" data-bind="visible: spoolDialog.octoScaleTagWriter.writeSucceeded">
                                                    <small><i class="fas fa-check"></i> Tag written and verified.</small>
                                                </span>
                                                <span class="help-block text-error" style="margin-bottom: 0;" data-bind="visible: spoolDialog.octoScaleTagWriter.errorMessage">
                                                    <small><i class="fas fa-exclamation-triangle"></i> <span data-bind="text: spoolDialog.octoScaleTagWriter.errorMessage"></span></small>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="span12 text-center">
                                    <div style="margin-top:10px">
                                        <div>
<!--                                                <div class="spool-note-editor-container">-->
                                                <div id="spool-note-editor" style="min-height:120px;"></div>
<!--                                                </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

<!-- Image scanner -->
<!--<div class="control-group">-->
<!--                                <div class="row">-->
<!--                                    <div class="span6 text-center">-->
<!--                                         <img   src="http://localhost:5000/plugin/PrintJobHistory/static/images/janbex.png" alt=""/>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--</div>-->


                        </div>
                    </div>
            </div>
        </form>
    </div>
    <!-- Modal-footer layout rework (muted hint styling, "Copy from Template" placement, tightened spacing) -->
    <!-- authored by @mdziekon, adopted via PR #44 (commit 642bea0). -->
    <div class="modal-footer" >
        <div class="control-group" style="margin-bottom: 0">
            <div class="controls row-fluid">
                <span class="span8" style="text-align:left">

                    <button type="button" class="btn btn-danger" data-bind="visible: spoolDialog.isExistingSpool,
                                                                            disable: printerStateViewModel.isPrinting() || spoolDialog.isLoadedInTool(),
                                                                            click: spoolDialog.deleteSpoolItem" ><i class="fa fa-trash-o"></i> Delete</button>
                    <button type="button" class="btn btn-warning" data-bind="visible: spoolDialog.isExistingSpool,
                                                                             click: spoolDialog.copySpoolItem" ><i class="fa fa-copy"></i> Copy</button>
                    <!-- ko if: spoolDialog.spoolItemForEditing.databaseId -->
                    <!-- "Select for printing" dropdown/button adapted from mdziekon/OctoPrint-SpoolManager PR #29 (GH-24): -->
                    <!-- dropup listing every tool when >1, single direct button when exactly 1 tool. -->
                    <!-- When the dialog was opened by a QR-code scan the spool is already selected server-side, -->
                    <!-- so selecting again would be the duplicate call mdziekon/OctoPrint-SpoolManager#41 removes. -->
                        <!-- ko if: spoolDialog.allToolIndices().length > 1 -->
                            <div class="btn-group dropup">
                                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"
                                   data-bind="css: {disabled: spoolDialog.spoolItemForEditing.selectedFromQRCode()}">
                                    <i class="fa fa-print"></i> Select for printing...
                                    <span class="caret"></span>
                                </a>
                                <ul
                                    class="dropdown-menu"
                                    data-bind="foreach: spoolDialog.allToolIndices"
                                >
                                    <li>
                                        <a
                                            tabindex="-1"
                                            href="#"
                                            data-bind="click: function () { $parent.spoolDialog.selectSpoolItemForPrintingOnTool({ toolIdx: $data }); }"
                                        >
                                            Tool #<span data-bind="text: $data"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        <!-- /ko -->
                        <!-- ko if: spoolDialog.allToolIndices().length == 1 -->
                            <button
                                class="btn btn-info"
                                type="button"
                                data-bind="click: function () { spoolDialog.selectSpoolItemForPrintingOnTool({ toolIdx: spoolDialog.allToolIndices()[0] }); },
                                           enable: !spoolDialog.spoolItemForEditing.selectedFromQRCode()"
                            >
                                <i class="fa fa-print"></i> Select for printing (tool #<span data-bind="text: spoolDialog.allToolIndices()[0]"></span>)
                            </button>
                        <!-- /ko -->
                    <!-- /ko -->
                    <button class="btn btn-info" data-bind="visible: spoolDialog.isExistingSpool()==false,
                                                            click: spoolDialog.selectAndCopyTemplateSpool" style="text-align:right">Copy from Template...</button>

                    <div data-bind="visible: printerStateViewModel.isPrinting()" class="muted" style="margin-top: 10px;">
                        <small>Deletion during printing is not possible</small>
                    </div>
                    <div data-bind="visible: spoolDialog.isLoadedInTool() &amp;&amp; !printerStateViewModel.isPrinting()" class="muted" style="margin-top: 10px;">
                        <small>Spool is loaded into a tool and cannot be deleted</small>
                    </div>
                    <div data-bind="visible: spoolDialog.spoolItemForEditing.selectedFromQRCode()" class="muted" style="margin-top: 10px;">
                        <small>Already selected via QR code</small>
                    </div>

                </span>
                <span class="span4 text-right">
<!--                        data-bind="click: spoolDialog.closeSpoolItemDialog"-->
                    <span class="spm-save-blocked-hint" data-bind="visible: spoolDialog.invalidNumberFields().length > 0,
                                                                    attr: {title: 'Invalid value in: ' + spoolDialog.invalidNumberFieldsLabel()}">Invalid number entered</span>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="enable: spoolDialog.isFormValidForSubmit(), click: spoolDialog.saveSpoolItem">Save</button>
                </span>
            </div>
        </div>
    </div>
</div>

<!--###############################################################  Spool TEMPLATE SELECTION-Dialog: id="dialog_template_spool_selection" -->



<div id="dialog_template_spool_selection" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Select Template Spool</h3>
    </div>
    <div class="modal-body">
        <spm-select-spool-table params="allSpoolsKOArray: spoolDialog.templateSpools,
                                        allMaterialsKOArray: spoolDialog.allMaterials,
                                        allVendorsKOArray: spoolDialog.allVendors,
                                        allColorsKOArray: spoolDialog.allColors,
                                        selectSpoolFunction: spoolDialog.copySpoolItemFromTemplate
                                        "></spm-select-spool-table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<!--###############################################################  Simple-View warning: id="dialog_simplemode_warning" -->
<div id="dialog_simplemode_warning" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title"><i class="fas fa-exclamation-triangle spm-dialog-icon-warning"></i>&nbsp; Hidden fields in Simple view</h3>
    </div>
    <div class="modal-body">
        <p>This template contains data in fields that are <strong>not shown</strong> in the Simple view:</p>
        <ul data-bind="foreach: spoolDialog.simpleModeHiddenFieldsWithData">
            <li data-bind="text: $data"></li>
        </ul>
        <p><small class="text-info">The data is kept and saved either way &mdash; switching to the Full view only makes these fields visible so you can review or edit them.</small></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-bind="click: spoolDialog.stayInSimpleViewFromWarning">Stay in Simple view</button>
        <button type="button" class="btn btn-primary" data-bind="click: spoolDialog.switchToFullViewFromWarning">Switch to Full view</button>
    </div>
</div>
